<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.javaboy.tienchin.business.mapper.BusinessMapper">

    <select id="selectBusinessList" resultType="org.javaboy.tienchin.business.domain.vo.BusinessSummary">
        SELECT tb.business_id,tb.name,tb.phone,tb.create_time,tb.status,tb.next_time,ta.user_name as owner
        FROM tienchin_business as tb LEFT JOIN tienchin_assignment as ta on tb.business_id = ta.assign_id AND ta.latest=TRUE
        where tb.del_flag =0 and ta.type = 1
        <if test="name!=null">
            and tb.name=#{name}
        </if>
        <if test="owner!=null">
            and ta.user_name =#{owner}
        </if>
        <if test="phone!=null">
            and tb.phone =#{phone}
        </if><if test="params.beginTime !=null and params.endTime!=null">
            and tb.next_time between #{params.beginTime} and #{params.endTime}
        </if>
    </select>
    <select id="increaseBusiness" resultType="org.javaboy.tienchin.common.core.domain.model.EchartsPoint">
        SELECT t2.date_str as x, if(t3.c is null,0,t3.c) as y
        FROM (
        SELECT @sdate := date_add(date_format(#{params.beginTime},'%Y-%m-%d'), interval 1 day) AS date_str
        UNION ALL
        SELECT @sdate := date_add(@sdate, interval 1 day)
        FROM mysql.time_zone
        LIMIT 999
        ) t2
        LEFT JOIN (
        SELECT DATE(create_time) AS date_str, COUNT(1) AS c  -- 给 COUNT 结果加上别名
        FROM tienchin_business
        GROUP BY DATE(create_time)) t3 on t2.date_str=t3.date_str where t2.date_str &lt;=
        date_add(date_format(#{params.endTime},'%Y-%m-%d'),interval -1 day)
    </select>
    <select id="totalBusiness" resultType="org.javaboy.tienchin.common.core.domain.model.EchartsPoint">
        set @cnum:=0;
        select t4.x,(@cnum:=@cnum+t4.y) as y from(
        SELECT t2.date_str as x, if(t3.c is null,0,t3.c) as y
        FROM (
        SELECT @sdate := date_add(date_format(#{params.beginTime},'%Y-%m-%d'), interval 1 day) AS date_str
        UNION ALL
        SELECT @sdate := date_add(@sdate, interval 1 day)
        FROM mysql.time_zone
        LIMIT 999
        ) t2
        LEFT JOIN (
        SELECT DATE(create_time) AS date_str, COUNT(1) AS c  -- 给 COUNT 结果加上别名
        FROM tienchin_business
        GROUP BY DATE(create_time)) t3 on t2.date_str=t3.date_str where t2.date_str &lt;=
        date_add(date_format(#{params.endTime},'%Y-%m-%d'),interval -1 day)) t4;
    </select>
</mapper>
