<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.javaboy.tienchin.clue.mapper.ClueMapper">

    <select id="selectClueList" resultType="org.javaboy.tienchin.clue.domain.vo.ClueSummary">
        SELECT tc.clue_id,tc.`name`,tch.channel_name,tc.phone,tc.`status`,tc.create_time,tc.create_by,ta.user_name as OWNER, tc.next_time FROM `tienchin_clue` tc LEFT JOIN tienchin_channel tch on tc.channel_id=tch.channel_id LEFT JOIN tienchin_assignment ta on tc.clue_id=ta.assign_id AND ta.latest=TRUE
    </select>
    <select id="getClueDetailsByClueId" resultType="org.javaboy.tienchin.clue.domain.vo.ClueDetails">
        SELECT tc.clue_id,
               tc.name,
               tc.gender,
               tc.create_time,
               tc.age,
               tc.weixin,
               tc.qq,
               tc.phone,
               tc.level,
               tc.subject,
               tc.status,
               tc.fail_count,
               tc.next_time,
               tch.channel_name,
               tas.create_by as allocator,
               ta.`name` as activity_name,
               ta.info as activity_info,
               tas.user_name as OWNER,
               tas.create_time as belongTime
        FROM `tienchin_clue` tc
                   LEFT JOIN tienchin_activity ta on tc.activity_id=ta.activity_id
                   LEFT JOIN tienchin_channel tch on tc.channel_id = tch.channel_id
                   LEFT JOIN tienchin_assignment tas on tc.clue_id = tas.assign_id and tas.latest=TRUE
        WHERE tc.clue_id=#{clueId};
    </select>
</mapper>
